@model Secret
@{
    ViewData["Title"] = "Add secret";
}

<h1>Add new secret:</h1>
<hr />
<div>
    <form action="/newsecret", method="post">
        <input type="number", asp-for="Id"/>
        <input type="text" asp-for="SercretName", placeholder="Ener secret name..." />
        <input type="text" asp-for="SercretValue", placeholder="Enter value..." />
        <input type="submit" value="Add secret" />
        @Html.AntiForgeryToken()
    </form>
</div>