@page
@model IndexModel;
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h2>In memory caching Example</h2>
    <hr />
    <div class="Employeelist">
        <h3>Sample Employee List</h3>
        <hr />
        <div>
            <ul>
                @foreach (var emp in Model.EmployeeList)
                {
                    <li>@emp.FirstName, @emp.LastName</li>
                }
            </ul>
        </div>
    </div>

</div>
